<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/unity.css" />
    <link rel="stylesheet" href="/css/game.css" />
    <script src="/js/UnityProgress.js"></script>
    <script src="/js/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate(
        "gameContainer",
        "{{ .Params.Data }}",
        { onProgress: UnityProgress }
      );
    </script>
  </head>
  <body>
      <div class="container">
          <div class="webgl-content" style="text-align:center">
            <h1>{{  .Params.Title }}</h1>
            <div id="gameContainer" style="width: 800px; height: 440px"></div>
            <div class="footer">
              <div class="webgl-logo"></div>
              <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
              <div class="title">{{ .Params.Game }} | {{ .Params.Title }}</div>
            </div>
            <a href="/#/{{ .Params.Back }}">Back To Presentation</a>
          </div>
      </div>
  </body>
</html>
