{{ define "main" }}
<div class="reveal">
    <div class="slides">
        <section id="Setup">
            <section id="Title">
                <h1>C#'ly Into Game Dev</h1>
                <em>Intro into Game Development With C# &amp; Unity.</em>
            </section>
            <section id="WhoAmI">
                <h2>Who Am I</h2>
            </section>
            <section id="WhoIsThisFor">
                <h2>Who Is This For?</h2>
            </section>
            <section id="Terms1">
                <h2>Terms</h2>
            </section>
        </section>
        <section id="Engine">
            <section id="EngineTitle">
                <h1>Engines? What is this a car shop?</h1>
            </section>
            <section id="WhatIsAnEngine">
                <h2>What Is A Game Engine</h1>
            </section>
            <section id="GameEngines">
                <h2>List of Game Engines</h2>
            </section>
            <section id="WhatEnginesDoForUs">
                <h2>What do Engines Do For Us?</h2>
            </section>
            <section id="UnityVsUnreal">
                <h2>Unity V.s. Unreal</h2>
            </section>
        </section>
        <section id="UnityEngine">
            <section id="UnityTitle">
                <h1>Getting To Know Unity</h1>
            </section>
            <section id="UserInterface">
                <h2>User Interface</h2>
            </section>
            <section id="FirstGameBuild">
                <h2>Building Your First Game</h2>
            </section>
            <section id="Scenes">
                <h2>Scenes</h2>
            </section>
            <section id="Assets">
                <h2>Assetts</h2>
            </section>
            <section id="Cross Platform">
                <h2>Being Platform Agnostic</h2>
            </section>
        </section>
        <section id="Programming">
            <section id="ProgrammingTitle">
                <h1>Game Programming</h1>
            </section>
            <section id="Controllers">
                <h2>Controllers</h2>
            </section>
            <section id="Observers">
                <h2>Observers</h2>
            </section>
            <section id="Collisions">
                <h2>Collision Handeling</h2>
            </section>
            <section id="AI">
                <h2>Artificial Intelligence</h2>
            </section>
        </section>
        <section id="GameDesign">
            <section id="DesignTitle">
                <h1>Game Design</h1>
            </section>
            <section id="GameArt">
                <h2>Game Art</h2>
            </section>
            <section id="GameAudio">
                <h2>Game Audio</h2>
            </section>
            <section id="PostProcessing">
                <h2>Post Processing</h2>
            </section>
        </section>
        <section id="Conclusion">
            <section id="Game">
                <h2>Finished Product</h2>
            </section>
            <section id="Questions">
                <h2>Any Questions</h2>
            </section>
            <section id="Contact">
                <h2>Contact & Slides Info</h2>
            </section>
        </section>
    </div>
</div>
{{ end }}